:root {
    --deepGreen: #070f07;
    --lightGreen: #52823e;
}

* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #000;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.conteiner {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.none {
    display: none !important;
}

/* Header */
.header {
    position: relative;

    display: flex;
    flex-direction: column; /* Основная ось стала Y */
    align-items: center; /* Выравнивание по поперечной оси */
    justify-content: center; /* Выравнивание по основной оси */

    width: 100%;
    height: 100vh;

    /* background-color: #556984;
    background-image: url('./../img/header/header-bg.jpg'); */
    background-size: cover;
    background-position: center;
}

.header-tittle {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;

    text-align: center;
    color: #fff;
}

.header-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}

.header-arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 48px;
    height: 48px;
}

/* Portfolio */
.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.portfolio-header {
    margin-top: 0;
    margin-bottom: 70px;
    text-align: center;
    font-size: 46px;
    line-height: 130%;
    font-weight: 700;
    color: #000;
}

.partfolio-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-bottom: 30px;
    max-width: 540px;
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(72, 121, 75, 0.35);
    border-radius: 10px;

    transition: transform 0.2s ease-in;
}

.card:hover {
    transform: translateY(-15px);
}

.card-link {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.card-link:hover {
    color: var(--lightGreen);
}
/* Убираем отступы лишние у последних карточек */
.card:last-child, .card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    margin-bottom: 20px;
    width: 500px;
    height: 240px;

    object-fit: cover;  
}

.card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}

/* Footer */

.footer {
    padding-top: 45px;
    padding-bottom: 130px;
    /* height: 290px; */

    background-color: var(--deepGreen);
    color: white;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-col {
    max-width: 350px;
    flex-grow: 1;
}

.footer-copyright {
    color: var(--lightGreen);
    line-height: 1.3;
}

.footer-copyright-name {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-icons p {
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}

.icons-row {
    display: flex;
    align-items: center;
}

.icons-row > * + * {
    margin-left: 30px;
}

.footer-button {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #fff;
    border-radius: 50px;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    line-height: 44px;

    text-decoration: none;

    transition: all 0.2s ease-in;
}

.footer-button:hover {
    background-color: #fff;
    color: var(--deepGreen);
}

.footer-contacts p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3;
    color: var(--lightGreen);
}

/* Project */

.project {
    padding: 80px 0 120px 0;
    text-align: center;
}

.project-header {
    margin: 0;
    margin-bottom: 40px;
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
}

.project-img {
    margin-bottom: 70px;
}

#rss-project {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}

.project-description {
    margin: 0 auto 60px;
    max-width: 730px;
    font-size: 18px;
    line-height: 1.5;
}

.project-description p {
    margin-top: 0;
    margin-bottom: 15px;
}

.project-description ul {
    margin-top: 15px;
    margin-bottom: 50px;
    list-style-type: none;
}

.project-btn {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.project-btn-back {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid var(--deepGreen);
    border-radius: 50px;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--deepGreen);
    line-height: 54px;

    text-decoration: none;

    transition: all 0.2s ease-in;
}

.project-btn-back:hover {
    background-color: var(--lightGreen);
    color: white;

}